@font-face {
    font-family: "Evolventa";
    src: url(../fonts/Evolventa-Regular.ttf);
}

@font-face {
    font-family: "EvolventaBold";
    src: url(../fonts/Evolventa-Bold.ttf);
}

@font-face {
    font-family: "Inter";
    src: url(../fonts/Inter-Regular.ttf);
}

@font-face {
    font-family: "InterBold";
    src: url(../fonts/Inter-Bold.ttf);
}